# macOS system files
.DS_Store
.gitignore
# Visual Studio Code settings
.vscode/

# Ignore all .jpg and .txt files at the root (be cautious)
*.jpg
*.txt

# Ignore 'data' and 'uploads' directories inside 'www'
www/data/
www/uploads/
